@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  color: #c1c1c1;
  background-color: #2d2d2d;
  background-image: -webkit-radial-gradient(#2d2d2d, #232323);
  background-image: radial-gradient(  #2d2d2d, #232323);
}

.slogan
{
  position: relative;
  top:40px;
  width:70%;
  font-size: 32px;
  line-height: 50px;
}

strong
{
  font-size: 55px;
  line-height: 50px;
  color:white;
  text-decoration: underline;
}


#left
{
  width:50%;
  float:left;
  height:70%;
}

#left:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 60px;
    bottom: 60px;
    left: 50%;
    border-right: 1px dashed #fff;
  }


#right
{
  width:50%;
  float:right;
}

.rkmd-btn {
  cursor: pointer;
  width:120px;
  height:40px;
  background: green;
  border:2px solid green;
  border-radius: 12px;
  color:white;
  font-weight: 600;
  font-size: 17px;  padding: 0 1.5rem;
  color: #424242;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  top:120px;
  width:180px;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  border-radius: 5px;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}

.rkmd-btn:focus
{
	outline:0;
}

.rkmd-btn.btn-deepPurple {
  color: #FFF;
  background-color: black;
}
.rkmd-btn.btn-deepPurple:hover {
  background-color: grey;
  color: black;
}

.rkmd-btn i {
  float: left;
  width: auto;
  height: auto;
  margin-right: 10px;
  font-size: 1.3rem;
  line-height: inherit;
}


.ripple-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}
.ripple-effect .ripple {
  display: block;
  position: absolute;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0);
   transform: scale(0);
}

.ripple-effect.ripple-purple .ripple {
  background: rgba(156, 39, 176, 0.725) !important;
}

.ripple-effect .animated {
  -webkit-animation: ripple 0.6s linear;
          animation: ripple 0.6s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

#icon
{
  position: relative;
  top:200px;
}

#abt
{
  position: relative;
  top:300px;
}

#abt_cont
{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

#abt_headline
{
  font-size: 30px;
}

#abt_content
{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top:40px;
  width:80%;
  text-align: center;
  line-height: 27px;
}
